Body {
  width: 100%;
  height: 100%;
  margin: auto;
  background: #272727;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 70px;
  font-weight: 600;
  color: #F8F1DE;
  margin: 0;
}

h2 {
  font-family: "Comfortaa", cursive;
  font-size: 40px;
  font-weight: 400;
  color: #F8F1DE;
  margin: 0;
}

h3 {
  font-family: "Comfortaa", cursive;
  font-size: 30px;
  font-weight: 400;
  color: #F8F1DE;
  margin: 0;
}

h4 {
  font-family: "Comfortaa", cursive;
  font-size: 24px;
  font-weight: 200;
  color: #F8F1DE;
  margin: 0;
}

h5 {
  font-family: "Comfortaa", cursive;
  font-size: 16px;
  font-weight: 200;
  color: #F8F1DE;
  margin: 0;
}

h6 {
  font-family: "Comfortaa", cursive;
  font-size: 12px;
  font-weight: 400;
  color: #F8F1DE;
  margin: 0;
}

p {
  font-family: "Comfortaa", cursive;
  font-size: 16px;
  font-weight: 200;
  color: #F8F1DE;
  margin: 0;
}

.content {
  width: 90%;
  padding-top: 130px;
  margin: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.left-col,
.right-col {
  width: 47.5%;
  margin: none;
}

.button-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  font-family: "Comfortaa", cursive;
  cursor: pointer;
  background: #2A432F;
  color: #F8F1DE;
  border: 1px solid #2A432F;
  width: 200px;
  height: 60px;
  border-radius: 50px;
  transition: 0.4s;
}
.button-primary:hover {
  font-weight: 600;
  border: 1px solid #F8F1DE;
  background: none;
}

.button-secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  font-family: "Comfortaa", cursive;
  cursor: pointer;
  background: none;
  color: #F8F1DE;
  border: 1px solid #F8F1DE;
  width: 200px;
  height: 60px;
  border-radius: 50px;
  transition: 0.4s;
}
.button-secondary:hover {
  background: #302f2f;
}

.forms {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.input {
  width: 90%;
  height: 30px;
  background: none;
  border: none;
  border-bottom: 1px solid #F8F1DE;
  font-size: 16px;
  color: #F8F1DE;
  font-family: "Comfortaa", cursive;
  margin-bottom: 30px;
  padding: 5px 30px;
}

.textarea {
  width: 90%;
  border: 1px solid #F8F1DE;
  background: none;
  font-family: "Comfortaa", cursive;
  font-size: 16px;
  border-radius: 15px;
  padding: 20px 30px;
  /* resize: none; */
  color: #F8F1DE;
}

::placeholder {
  color: #666666;
  font-size: 16px;
  font-family: "Comfortaa", cursive;
}

.favourite a {
  text-decoration: none;
  color: #2A432F;
  background-color: #F8F1DE;
  font-size: 20px;
  padding: 2%;
  border: 1px solid #2A432F;
  border-radius: 25px;
  padding: 20%;
  margin-top: 30%;
}

.favourite {
  background-color: Transparent;
  border: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 21%;
  margin: auto;
  height: 300px;
  padding-bottom: 4%;
}

.top-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-img {
  height: 200px;
  width: 100%;
  border: 1px solid #F8F1DE;
  background: #666666;
}

.bottom-info {
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 10px;
}

.background-image img {
  width: 100%;
  height: auto;
}

.background-image {
  object-fit: contain;
  position: relative;
}

.xotik {
  position: absolute;
  top: 20%;
  bottom: 0;
  left: 7%;
  right: 0;
  margin: auto;
  z-index: 99;
  font-family: "Source Sans Pro";
  font-size: 1200%;
  color: #f4edda;
}

.xotik-about {
  position: absolute;
  top: 40%;
  bottom: 0;
  left: 7%;
  right: 0;
  margin: auto;
  z-index: 99;
  font-family: "Comfortaa Regular";
  font-size: 200%;
  color: #f4edda;
}

.explore {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 7%;
  right: 0;
  margin: auto;
  z-index: 99;
}

.explore-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  font-family: "Comfortaa";
  cursor: pointer;
  background: #2A432F;
  color: #F8F1DE;
  border: 1px solid #2A432F;
  width: 200px;
  height: 60px;
  border-radius: 50px;
  transition: 0.4s;
}

.explore-btn:hover {
  font-weight: 600;
  border: 1px solid #F8F1DE;
  background: none;
}

.listings-head {
  padding-top: 5%;
  padding-bottom: 5%;
  font-family: "Comfortaa";
  font-weight: 900;
  text-align: center;
}

.search {
  display: flex;
  justify-content: space-between;
  width: 87%;
  margin: auto;
  padding-bottom: 4%;
}

.inputs {
  display: flex;
}

.search input {
  border-radius: 50px;
  font-family: "Comfortaa";
  font-size: 20px;
  padding-left: 3%;
  margin-right: 5%;
  outline: none;
  background-color: #272727;
  color: #F8F1DE;
  border-color: #F8F1DE !important;
}

.all-listings {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}

/*# sourceMappingURL=style.css.map */
