@charset "UTF-8";
Body {
  width: 100%;
  height: 100%;
  margin: auto;
  background: #272727;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 70px;
  font-weight: 600;
  color: #F8F1DE;
  margin: 0;
}

h2 {
  font-family: "Comfortaa", cursive;
  font-size: 40px;
  font-weight: 400;
  color: #F8F1DE;
  margin: 0;
}

h3 {
  font-family: "Comfortaa", cursive;
  font-size: 30px;
  font-weight: 400;
  color: #F8F1DE;
  margin: 0;
}

h4 {
  font-family: "Comfortaa", cursive;
  font-size: 24px;
  font-weight: 200;
  color: #F8F1DE;
  margin: 0;
}

h5 {
  font-family: "Comfortaa", cursive;
  font-size: 16px;
  font-weight: 200;
  color: #F8F1DE;
  margin: 0;
}

h6 {
  font-family: "Comfortaa", cursive;
  font-size: 12px;
  font-weight: 400;
  color: #F8F1DE;
  margin: 0;
}

p {
  font-family: "Comfortaa", cursive;
  font-size: 16px;
  font-weight: 200;
  color: #F8F1DE;
  margin: 0;
}

.content {
  width: 90%;
  padding-top: 110px;
  margin: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.left-col,
.right-col {
  width: 47.5%;
  margin: none;
}

.button-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  font-family: "Comfortaa", cursive;
  cursor: pointer;
  background: #2A432F;
  color: #F8F1DE;
  border: 1px solid #2A432F;
  width: 200px;
  height: 60px;
  border-radius: 50px;
  transition: 0.4s;
}
.button-primary:hover {
  font-weight: 600;
  border: 1px solid #F8F1DE;
  background: none;
}

.button-secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  font-family: "Comfortaa", cursive;
  cursor: pointer;
  background: none;
  color: #F8F1DE;
  border: 1px solid #F8F1DE;
  width: 200px;
  height: 60px;
  border-radius: 50px;
  transition: 0.4s;
}
.button-secondary:hover {
  backdrop-filter: blur(10px);
}

.button-newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  font-family: "Comfortaa", cursive;
  cursor: pointer;
  background: none;
  color: #F8F1DE;
  border: 1px solid #F8F1DE;
  width: 100px;
  height: 40px;
  border-radius: 50px;
  transition: 0.4s;
}

.forms {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.input {
  width: 90%;
  height: 30px;
  background: none;
  border: none;
  border-bottom: 1px solid #F8F1DE;
  font-size: 16px;
  color: #F8F1DE;
  font-family: "Comfortaa", cursive;
  margin-bottom: 30px;
  padding: 5px 30px;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: none !important;
}

.textarea {
  width: 90%;
  border: 1px solid #F8F1DE;
  background: none;
  font-family: "Comfortaa", cursive;
  font-size: 16px;
  border-radius: 15px;
  padding: 20px 30px;
  /* resize: none; */
  color: #F8F1DE;
}

::placeholder {
  color: #F8F1DE;
  opacity: 0.3;
  font-size: 16px;
  font-family: "Comfortaa", cursive;
}

.favourite a {
  text-decoration: none;
  color: #2A432F;
  background-color: #F8F1DE;
  font-size: 20px;
  padding: 2%;
  border: 1px solid #2A432F;
  border-radius: 25px;
  padding: 20%;
  margin-top: 30%;
}

.favourite {
  background-color: Transparent;
  border: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 21%;
  margin: auto;
  height: 300px;
  padding-bottom: 4%;
}

.top-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-img {
  height: 200px;
  width: 100%;
  border: 1px solid #F8F1DE;
  background: #666666;
}

.bottom-info {
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 10px;
}

.header {
  position: fixed;
  width: 100%;
  height: 100px;
  backdrop-filter: blur(10px);
  z-index: 999999;
}

.header-content {
  width: 95%;
  margin: auto;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  height: 100%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header-logo {
  cursor: pointer;
}

.nav-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 60px;
  cursor: pointer;
  padding: 5px 0;
  transition: 0.4s ease;
}
.nav-item:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: #F8F1DE;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav-item:hover:after {
  width: 100%;
  left: 0;
}

.header-logo {
  height: 45%;
  margin-right: 90px;
}

.header-icons {
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 20px;
  color: #F4EDDA;
}
.header-icons i {
  margin-left: 30px;
  cursor: pointer;
  transition: 0.2s ease;
}
.header-icons i:hover {
  font-size: 24px;
}

.header-popover {
  padding-top: 50px;
  position: fixed;
  right: 2%;
  top: 100px;
  display: none;
  height: 50vh;
  width: 300px;
  border: 1px solid #F8F1DE;
  background: none;
  z-index: 9999999999;
  border-radius: 15px 0 15px 15px;
  backdrop-filter: blur(10px);
}

.header-arrow {
  position: absolute;
  width: 10px;
  height: 10px;
  border-top: 1px solid #F8F1DE;
  border-right: px solid #F8F1DE;
  border-bottom: 0 solid #F8F1DE;
  border-left: 1px solid #F8F1DE;
  background: #F8F1DE;
  top: 0;
  right: 0;
  content: "";
  transform: rotate(45deg);
  margin-top: -6px;
}

.popover-exit-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #F8F1DE;
}

.login-popover-content {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 70%;
  height: 90%;
}
.login-popover-content .create-account {
  position: relative;
  cursor: pointer;
  padding: 5px 0;
  transition: 0.4s ease;
}
.login-popover-content .create-account:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: #F8F1DE;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.login-popover-content .create-account:hover:after {
  width: 100%;
  left: 0;
}

.cart-popover-content {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 70%;
  height: 90%;
}

.background-image img {
  width: 100%;
  height: auto;
}

.background-image {
  background-image: url("../img/gecko.jpg");
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  z-index: -99999;
}

.hero {
  margin: auto;
  padding-top: 15%;
  padding-left: 8%;
}

.xotik {
  font-family: "Source Sans Pro";
  font-size: 10vw;
  color: #f4edda;
  padding-bottom: 2%;
}

.xotik-about {
  font-size: 2.2vw;
  color: #f4edda;
}

.explore {
  padding-top: 5%;
}

.listings-head {
  padding-top: 5%;
  padding-bottom: 5%;
  font-family: "Comfortaa";
  font-weight: 900;
  text-align: center;
}

.search {
  display: flex;
  justify-content: space-between;
  width: 86%;
  margin: auto;
  padding-bottom: 5%;
}

.inputs {
  display: flex;
  justify-content: space-between;
}

.inputs select {
  margin-right: 10%;
  background: none;
  border: 1px solid #F8F1DE;
  outline: none;
  color: #F8F1DE;
  border-radius: 50px;
  font-family: "Comfortaa";
  font-size: 120%;
  padding-left: 4%;
  padding-right: 4%;
}

option {
  color: #272727;
}

.search-input {
  background: none;
  border: 1px solid #F8F1DE;
  outline: none;
  color: #F8F1DE;
  border-radius: 50px;
  font-family: "Comfortaa";
  padding-left: 4%;
}

.all-listings {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}

.who {
  padding-top: 8%;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.who-img-container {
  width: 47%;
}

.who-img {
  width: 100%;
  height: 100%;
  margin: auto;
}

.who-text {
  width: 47%;
}

.who-head {
  padding-bottom: 1.5%;
}

hr {
  margin-top: 2%;
  width: 80%;
}

.faq-head {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

.faq {
  margin: auto;
  width: 40%;
}

.collapsible {
  background-color: #F8F1DE;
  color: #272727;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  font-family: "Comfortaa";
  font-weight: 700;
  border-radius: 35px;
}

.collapsible:after {
  content: "+";
  color: #272727;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "−";
}

.content {
  padding: 0px 18px;
  padding-top: 2%;
  margin-bottom: 2%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.safety {
  padding-top: 3%;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.safety-head {
  padding-bottom: 1.5%;
}

.safety-img-container {
  width: 47%;
}

.safety-img {
  width: 100%;
  height: auto;
}

.safety-text {
  width: 47%;
}

.contact-head {
  text-align: center;
  padding-top: 1%;
  padding-bottom: 2%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 35%;
  left: 0;
  right: 0;
  margin: auto;
}

.contact-name,
.contact-email {
  background: none;
  margin-bottom: 8%;
  padding-bottom: 2%;
  border: none;
  border-bottom: 1px solid #F8F1DE;
  padding-left: 4%;
  color: #F8F1DE;
  font-size: 20px;
}

.contact-msg {
  background: none;
  border: 1px solid #F8F1DE;
  border-radius: 20px;
  padding-top: 3%;
  padding-left: 4%;
  padding-bottom: 200px;
  color: #F8F1DE;
  font-size: 20px;
}

.send-btn {
  margin: auto;
}

.send-btn-container {
  padding-top: 3%;
  padding-bottom: 3%;
}

.listing-images-section {
  margin-top: 50px;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 30px;
  width: 100%;
}
.images button,
.images img {
  margin: 5px;
}
.images img {
  width: 150px;
  height: 150px;
  border-radius: 15px;
  border: 1px solid #F8F1DE;
  object-fit: cover;
}

.add-img-btn {
  width: 150px;
  height: 150px;
  border-radius: 15px;
  border: 1px solid #F8F1DE;
  background: none;
  color: #F8F1DE;
  font-size: 30px;
  cursor: pointer;
  transition: 0.5s ease;
}
.add-img-btn:hover i {
  opacity: 1;
}
.add-img-btn i {
  color: #F8F1DE;
  font-size: 30px;
  opacity: 0.4;
  transition: 0.5s ease;
}

.new-listing-form {
  display: flex;
  flex-direction: column;
}
.new-listing-form h1 {
  font-size: 40px;
}

.input-sml {
  width: 30%;
}

.input-sml::-webkit-inner-spin-button,
.input-sml::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.listing-btn {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  background: #2A432F;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  height: 60%;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
}

.footer-logo h3 {
  font-family: "Source Sans Pro";
}

.footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 20%;
}

.footer-newsletter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 50%;
}

.newsletter-form {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.newsletter-form .newsletter-form-input {
  width: 75%;
  display: flex;
  flex-direction: row;
}
.newsletter-form .newsletter-form-input input {
  margin-right: 30px;
}

/*# sourceMappingURL=style.css.map */
