@charset "UTF-8";
Body {
  width: 100%;
  height: 100%;
  margin: auto;
  background: #272727;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 70px;
  font-weight: 600;
  color: #F8F1DE;
  margin: 0;
}

h2 {
  font-family: "Comfortaa", cursive;
  font-size: 40px;
  font-weight: 400;
  color: #F8F1DE;
  margin: 0;
}

h3 {
  font-family: "Comfortaa", cursive;
  font-size: 30px;
  font-weight: 400;
  color: #F8F1DE;
  margin: 0;
}

h4 {
  font-family: "Comfortaa", cursive;
  font-size: 24px;
  font-weight: 200;
  color: #F8F1DE;
  margin: 0;
}

h5 {
  font-family: "Comfortaa", cursive;
  font-size: 16px;
  font-weight: 200;
  color: #F8F1DE;
  margin: 0;
}

h6 {
  font-family: "Comfortaa", cursive;
  font-size: 12px;
  font-weight: 400;
  color: #F8F1DE;
  margin: 0;
}

p {
  font-family: "Comfortaa", cursive;
  font-size: 16px;
  font-weight: 200;
  color: #F8F1DE;
  margin: 0;
}

.content {
  width: 90%;
  padding-top: 110px;
  margin: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.left-col,
.right-col {
  width: 47.5%;
  margin: none;
}

.results {
    text-align: center;
    width:100%;
    padding-bottom:250px;
    padding-top:150px;
}

.button-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  font-family: "Comfortaa", cursive;
  cursor: pointer;
  background: #2A432F;
  color: #F8F1DE;
  border: 1px solid #2A432F;
  width: 200px;
  height: 60px;
  border-radius: 50px;
  transition: 0.4s;
}

.button-primary:hover {
  font-weight: 600;
  border: 1px solid #F8F1DE;
  background: none;
}

.button-secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
  font-family: "Comfortaa", cursive;
  cursor: pointer;
  background: none;
  color: #F8F1DE;
  border: 1px solid #F8F1DE;
  width: 200px;
  height: 60px;
  border-radius: 50px;
  transition: 0.4s;
}
.button-secondary:hover {
  backdrop-filter: blur(10px);
}

.button-newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  font-family: "Comfortaa", cursive;
  cursor: pointer;
  background: none;
  color: #F8F1DE;
  border: 1px solid #F8F1DE;
  width: 100px;
  height: 40px;
  border-radius: 50px;
  transition: 0.4s;
}

.forms {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.input {
  width: 90%;
  height: 30px;
  background: none;
  border: none;
  border-bottom: 1px solid #F8F1DE;
  font-size: 16px;
  color: #F8F1DE;
  font-family: "Comfortaa", cursive;
  margin-bottom: 30px;
  padding: 5px 30px;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:active,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
  -webkit-box-shadow: none !important;
}

.select {
  width: 250px;
  height: 40px;
  background: none;
  border: none;
  border-bottom: 1px solid #F8F1DE;
  font-size: 16px;
  color: #F8F1DE;
  font-family: 'Comfortaa', cursive;
  margin-bottom: 30px;
  padding: 5px 30px;
}

.textarea {
  width: 90%;
  border: 1px solid #F8F1DE;
  background: none;
  font-family: "Comfortaa", cursive;
  font-size: 16px;
  border-radius: 15px;
  padding: 20px 30px;
  /* resize: none; */
  color: #F8F1DE;
}

::placeholder {
  color: #F8F1DE;
  opacity: 0.3;
  font-size: 16px;
  font-family: "Comfortaa", cursive;
}

.favourite a {
  text-decoration: none;
  color: #2A432F;
  background-color: #F8F1DE;
  font-size: 20px;
  padding: 2%;
  border-radius: 25px;
  padding: 20%;
  margin-top: 30%;
}

.card-img {
  width: 100%;
  height: 60%;
}
.card-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.ignore-me {
  visibility: hidden;
  position: absolute;
  width: 160px;
  height: 160px;
}

.favourite {
  background-color: Transparent;
  border: none;
  position: absolute;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 250px;
  margin: auto;
  height: 300px;
  margin: 0 15px 60px 15px;
}

.top-info {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 10px;
}

.bottom-info {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.title {
  margin-bottom: 10px;
}

.header-background {
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 9999;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0), #272727);
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0)));
}

.header-background-blur {
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 999;
  backdrop-filter: blur(10px);
}

.header {
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 999999;
}

.header-content {
  width: 95%;
  margin: auto;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  height: 100%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header-logo {
  cursor: pointer;
}

.nav-item a {
  text-decoration: none;
}

.nav-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 60px;
  cursor: pointer;
  padding: 5px 0;
  transition: 0.4s ease;
}
.nav-item:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: #F8F1DE;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav-item:hover:after {
  width: 100%;
  left: 0;
}

.header-logo {
  height: 45%;
  margin-right: 90px;
}

.header-icons {
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 20px;
  color: #F4EDDA;
}
.header-icons i {
  margin-left: 30px;
  cursor: pointer;
  transition: 0.2s ease;
}
.header-icons i:hover {
  opacity: 0.5;
}

.header-popover {
  padding-top: 50px;
  position: fixed;
  right: 2%;
  top: 100px;
  display: none;
  height: 50vh;
  width: 300px;
  border: 1px solid #F8F1DE;
  background: none;
  z-index: 9999999999;
  border-radius: 15px 0 15px 15px;
  backdrop-filter: blur(10px);
}

.header-arrow {
  position: absolute;
  width: 10px;
  height: 10px;
  border-top: 1px solid #F8F1DE;
  border-right: px solid #F8F1DE;
  border-bottom: 0 solid #F8F1DE;
  border-left: 1px solid #F8F1DE;
  background: #F8F1DE;
  top: 0;
  right: 0;
  content: "";
  transform: rotate(45deg);
  margin-top: -6px;
}

.popover-exit-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #F8F1DE;
}

.login-popover-content {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 60%;
  height: 90%;
}
.login-popover-content .create-account {
  position: relative;
  cursor: pointer;
  padding: 5px 0;
  transition: 0.4s ease;
}
.login-popover-content .create-account:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: #F8F1DE;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.login-popover-content .create-account:hover:after {
  width: 100%;
  left: 0;
}

.create-account-popover-content {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 80%;
  height: 90%;
}
.create-account-popover-content input {
  width: 70%;
}

.cart-popover-content {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 70%;
  height: 90%;
}

.empty-cart-content {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 100%;
  height: 90%;
}

.full-cart-content {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 80%;
  height: 90%;
}

.cart-item-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 240px;
  width: 100%;
  overflow: scroll;
}

.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #F8F1DE;
}

.cart-item-img {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  border: 1px solid #F8F1DE;
}

.cart-item-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
}

.cart-item-text-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.cart-remove-btn {
  opacity: 0.4;
  position: relative;
  cursor: pointer;
  padding: 5px 0;
  transition: 0.4s ease;
}
.cart-remove-btn:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: #F8F1DE;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.cart-remove-btn:hover:after {
  width: 100%;
  opacity: 1;
  left: 0;
}

.check-out-btn {
  position: relative;
  cursor: pointer;
  padding: 5px 0;
  transition: 0.4s ease;
}
.check-out-btn:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 1px;
  left: 50%;
  position: absolute;
  background: #F8F1DE;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.check-out-btn:hover:after {
  width: 100%;
  opacity: 1;
  left: 0;
}

.background-image img {
  width: 100%;
  height: auto;
}

.background-image {
  background-image: url("../img/gecko.jpg");
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  z-index: -99999;
}

.hero {
  margin: auto;
<<<<<<< HEAD
  padding-top: 15%;
=======
  padding-top: 10%;
>>>>>>> dev
  padding-left: 8%;
}

.xotik {
  font-family: "Source Sans Pro";
  font-size: 10vw;
  color: #f4edda;
  padding-bottom: 2%;
}

.xotik-about {
  font-size: 2.2vw;
  color: #f4edda;
}

.explore {
  padding-top: 5%;
<<<<<<< HEAD
}

.listings-head {
  padding-top: 5%;
  padding-bottom: 5%;
  font-family: "Comfortaa";
  font-weight: 900;
  text-align: center;
}

.all-listings {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}

.who {
  padding-top: 8%;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.who-img-container {
  width: 47%;
}

.who-img {
  width: 100%;
  height: 100%;
  margin: auto;
}

.who-text {
  width: 47%;
}

.who-head {
  padding-bottom: 1.5%;
}

hr {
  margin-top: 2%;
  width: 80%;
}

.faq-head {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
}

.faq {
  margin: auto;
  width: 40%;
}

.collapsible {
  background-color: #F8F1DE;
  color: #272727;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  font-family: "Comfortaa";
  font-weight: 700;
  border-radius: 35px;
}

.collapsible:after {
  content: "+";
  color: #272727;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "−";
=======
>>>>>>> dev
}

.content {
  padding: 0px 18px;
  padding-top: 2%;
  margin-bottom: 2%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.listings-head {
  padding-top: 130px;
  margin-bottom: 60px;
  text-align: center;
  font-size: 40px;
}

.safety {
  padding-top: 3%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 87%;
  margin: auto auto 60px;
}

.safety-head {
  padding-bottom: 1.5%;
}

.safety-img-container {
  width: 47%;
}

.safety-img {
  width: 100%;
  height: auto;
}

.safety-text {
  width: 47%;
}

.contact-head {
  text-align: center;
  padding-top: 1%;
  padding-bottom: 2%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 35%;
  left: 0;
  right: 0;
  margin: auto;
}

.contact-name,
.contact-email {
  background: none;
  margin-bottom: 8%;
  padding-bottom: 2%;
  border: none;
  border-bottom: 1px solid #F8F1DE;
  padding-left: 4%;
  color: #F8F1DE;
  font-size: 20px;
}

.contact-msg {
  background: none;
  border: 1px solid #F8F1DE;
  border-radius: 20px;
  padding-top: 3%;
  padding-left: 4%;
  padding-bottom: 200px;
  color: #F8F1DE;
  font-size: 20px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}
.inputs .input,
.inputs .select {
  width: 28%;
}

<<<<<<< HEAD
.send-btn {
=======
.all-listings {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90%;
>>>>>>> dev
  margin: auto;
  margin-bottom: 60px;
}

.who {
  padding-top: 200px;
  padding-bottom: 60px;
  border-bottom: 1px solid #F8F1DE;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.who-img-container {
  width: 47%;
}

.who-img {
  width: 100%;
  height: 100%;
  margin: auto;
}

.who-text {
  width: 47%;
}

.who-head {
  margin-bottom: 30px;
  font-size: 40px;
}

.faq {
  padding-bottom: 60px;
  padding-top: 60px;
  width: 90%;
  margin: auto;
  border-bottom: 1px solid #F8F1DE;
}

.faq-head {
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
}

.faq-content {
  width: 50%;
  margin: auto;
}

.collapsible {
  background-color: #F8F1DE;
  color: #272727;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  font-family: "Comfortaa";
  font-weight: 700;
  border-radius: 35px;
}

.collapsible:after {
  content: '\002B';
  color: #272727;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.contents {
  padding: 2% 18px 0;
  margin-bottom: 2%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.safety {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding-bottom: 60px;
  padding-top: 60px;
  border-bottom: 1px solid #F8F1DE;
}

.safety-head {
  margin-bottom: 30px;
  font-size: 40px;
}

.safety-img-container {
  width: 47%;
}

.safety-img {
  width: 100%;
  height: auto;
}

.safety-text {
  width: 47%;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 60px auto;
}

.contact-head {
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  left: 0;
  right: 0;
  margin: auto;
}

.contact-email,
.contact-name {
  background: none;
  margin-bottom: 8%;
  padding-bottom: 2%;
  border: none;
  border-bottom: 1px solid #F8F1DE;
  padding-left: 4%;
  color: #F8F1DE;
  font-size: 20px;
}

.contact-msg {
  background: none;
  border: 1px solid #F8F1DE;
  border-radius: 20px;
  padding-top: 3%;
  padding-left: 4%;
  padding-bottom: 200px;
  color: #F8F1DE;
  font-size: 20px;
}

.send-btn {
  margin: auto;
}

.send-btn-container {
  padding-top: 3%;
  padding-bottom: 3%;
}

.send-btn-container {
  padding-top: 3%;
  padding-bottom: 3%;
}

.listing-images-section {
  margin-top: 60px;
  margin-bottom: 100px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.images {
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
  width: 100%;
}
.images button {
  margin: 5px;
}

.test-div-images {
  display: flex;
  flex-direction: row;
  height: auto;
  flex-wrap: wrap;
  width: 60%;
}
.test-div-images img {
  margin: 5px;
  width: 150px;
  height: 150px;
  border-radius: 15px;
  object-fit: cover;
  transition: 0.4s;
}
.test-div-images img:hover {
  opacity: 0.5;
}

.add-img-btn {
  width: 150px;
  height: 150px;
  border-radius: 15px;
  border: 1px solid #F8F1DE;
  background: none;
  color: #F8F1DE;
  font-size: 30px;
  cursor: pointer;
  transition: 0.5s ease;
}
.add-img-btn:hover i {
  opacity: 1;
}
.add-img-btn i {
  color: #F8F1DE;
  font-size: 30px;
  opacity: 0.4;
  transition: 0.5s ease;
}

.trash {
  display: none;
  transition: 0.4s ease;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  border-radius: 15px;
  background: rgba(40, 40, 40, 0.25);
  margin: 5px 0 0 5px;
  cursor: pointer;
  font-size: 30px;
  z-index: 999;
  transition: 0.4s ease;
  color: #FF4242;
}
.trash:hover .new-image {
  opacity: 0.5;
}

.new-image {
  position: relative;
  transition: 0.4s ease;
}
.new-image:hover .trash {
  transition: 0.4s ease;
  display: flex;
}

.new-listing-form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.new-listing-form h1 {
  font-size: 40px;
}

.new-listing-form-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.input-sml {
  width: 35%;
}

.input-sml::-webkit-inner-spin-button,
.input-sml::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.checkbox {
  width: 15px;
  height: 15px;
}

.listing-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #F8F1DE;
  margin-bottom: 20px;
  width: 52%;
}

.checkbox-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: none;
  width: 48%;
}

.listing-btn {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.animal-images {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.animal-images .main-image {
  width: 100%;
  height: 55vh;
  margin-bottom: 10px;
}
.animal-images .main-image img {
  width: 100%;
  height: 100%;
  border: 1px solid #F8F1DE;
  object-fit: cover;
}
.animal-images .alt-images {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
.animal-images .alt-images .alt-img {
  width: 32%;
  height: 20vh;
  margin-bottom: 10px;
  border: 1px solid #F8F1DE;
}
.animal-images .alt-images .alt-img img {
  width: 100%;
  height: 100%;
  border: 1px solid #F8F1DE;
  object-fit: cover;
}

.listing-details {
  width: 100%;
  margin-top: 30px;
}

.listing-top-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #F8F1DE;
  margin-bottom: 30px;
}

.username {
  margin-bottom: 10px;
}

.animal-name {
  font-size: 40px;
  margin-bottom: 10px;
}

.listing-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.sellers-location {
  margin-bottom: 10px;
}

.delivery-liscence {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.delivery,
.liscence {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 8px 10px;
  width: 90px;
  height: auto;
  border: 1px solid #F8F1DE;
  border-radius: 60px;
  margin-bottom: 15px;
}

.delivery {
  margin-right: 10px;
}

.check {
  color: #52AF19;
}

.times {
  color: #FF4242;
}

.listing-bottom-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 45vh;
}

.listing-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.price {
  margin-bottom: 10px;
}

.question-block {
  border: 1px solid #F8F1DE;
  width: 100%;
  min-height: 100px;
  border-radius: 60px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.question {
  width: 85%;
  border-bottom: 1px solid #F8F1DE;
  margin: 20px 50px 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.answer {
  width: 85%;
  margin: 0 50px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.q {
  margin-right: 10px;
  font-weight: 500;
  opacity: 0.5;
}

.answer-text,
.question-text {
  font-weight: 100;
}

.ask-question {
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.question-input {
  width: 70%;
  margin: none;
}

.send-btn {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 10%;
  cursor: pointer;
  transition: 0.4s ease;
  margin-bottom: 10px;
  opacity: 1;
}
.send-btn:hover {
  opacity: 0.5;
}

.question-exit {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 5%;
  margin: none;
  cursor: pointer;
  color: #FF4242;
  opacity: 1;
  transition: 0.4s ease;
  margin-bottom: 12px;
}
.question-exit:hover {
  opacity: 0.5;
}

.cart-page-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 600px;
}

.cart-page-header {
  font-size: 40px;
  margin-bottom: 30px;
}

.cart-page-item {
  width: 100%;
  height: 200px;
  border-bottom: 1px solid #F8F1DE;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-page-item-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 97%;
  height: 80%;
  margin: auto;
}

.cart-page-img {
  height: 160px;
  width: 160px;
}
.cart-page-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.cart-page-item-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 87%;
  height: 80%;
}

.cart-page-item-details {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 40%;
}
.cart-page-item-details h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin-top: 5px;
  margin-bottom: 30px;
}
.cart-page-item-details .cart-remove-btn {
  width: 48px;
}

.cart-page-item-price {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.checkout-btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  background: #2A432F;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 95%;
  height: 60%;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
}

.footer-logo h3 {
  font-family: "Source Sans Pro";
}

.footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 20%;
}

.footer-newsletter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 50%;
}

.newsletter-form {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.newsletter-form .newsletter-form-input {
  width: 75%;
  display: flex;
  flex-direction: row;
}
.newsletter-form .newsletter-form-input input {
  margin-right: 30px;
}

/*# sourceMappingURL=style.css.map */
